

<div class="container">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <% @cocktails.each do |cocktail| %>
        <div class="card">
          <ul class="list-inline list-unstyled">
            <li><%= image_tag cocktail.picture.url(:thumb) %></li>
            <li> <h3> <%= link_to cocktail.name, cocktail_path(cocktail) %></h3></li>
          </ul>
        </div>
      <% end %>
      <div>
        <%= link_to "Create a new cocktail", new_cocktail_path, {class: "btn btn-primary"}%>
      </div>
    </div>
  </div>
</div>