@import "home";


.card {
  padding-top: 20px;
}

.show {
  padding-top: 100px;
  text-align: center;
}

.bg-white {
  background-color: white;

}

.title_article {
  text-align: center;
  padding: 20px;
}